.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.backLink {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #ef82f5;
  font-size: 17px;
}

.backLink:hover {
  text-decoration: underline;
}

.title {
  font-size: 40px;
  margin-bottom: 20px;
  color: aliceblue;
}

.poster {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.info {
  margin-bottom: 10px;
  color: aliceblue;
  font-size: 18px;
}

.contInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoStrong {
  margin-bottom: 10px;
  color: #945995;
  font-weight: 500;
}

.genres {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.genres li {
  display: inline;
  margin-right: 15px;
  color: #945995;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  text-decoration: underline;
}

.links {
  list-style-type: none;
  padding: 0;
}

.links li {
  display: inline;
  margin-right: 10px;
}

.contDetails {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 30px;
  height: auto;
}

.infoGenre {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
  width: 800px;
  padding: 20px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}
.link {
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #eceae7;
  font-size: 16px;
  border: 2px solid #eceae7;
  padding: 0px 8px;
  border-radius: 4px;
  transition: color 0.3s ease, border 0.3s ease;
}
.link:hover {
  color: #7dd1dc;
  border: 2px solid #7dd1dc;
}
.active {
  color: #7dd1dc;
  font-weight: 600;
  border: 2px solid #7dd1dc;
}
